.news-search {
    display: flex;
    justify-content: center;
    font-size: 1.36em;
    background-color: gray;
    padding-top: 2px;
    padding-bottom: 6px;
}

.news-search span {
    color: #585556;
    margin-right: 6px;
    margin-left: 10px;
}

.news-search input {
    border-radius: 15px;
    padding: 6px;
    outline: none;
    flex-grow: 1;
    margin-right: 10px;
}

.news-item {
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 50px;
    padding: 4px;
}

.news-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-content h3 {
    text-align: center;
    margin-bottom: 4px;
}

.news-content p {
    text-align: justify;
}

.news-content img {
    max-width: 100%;
}

@media screen and (min-width:800px) {
    .news-search input{
        flex-grow: 0;
        margin-left: 8px;
    }
    .news-list{
        margin-right: 20%;
        margin-left: 20%;
    }
}