.news-search {
    display: flex;
    justify-content: center;
    font-size: 1.36em;
    background-color: gray;
    padding: 12px 0px;
    box-shadow: gray 1px 1px 2px;
}

.news-search span{
    color: white;
    margin-right: 6px;
    margin-left: 10px;
    outline: none;
    font-size: 20px;
    padding: 8px;
    margin-right: 10px;
}

.news-search input {
    border-radius: 15px;
    padding: 6px;
    outline: none;
    flex-grow: 1;
    border: solid 2px #585556;
    color: #585556;
    margin-right: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.news-item {
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 50px;
    padding: 4px;
}

.news-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-content h3 {
    text-align: center;
    margin-bottom: 4px;
    font-size: 1.2rem;
}

.news-content p {
    text-align: justify;
    font-size: 0.95em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.news-content img {
    max-width: 100%;
}

.news-content iframe{
    width: 100%;
    height: 480px;
}
.news-content .news-button{
    display: flex;
    background-color: #808080;
    border: #585556 solid 1px;
    border-radius: 15px;
    box-shadow: 2px 2px 4px;
    margin-top: 16px;
    width: 50%;
}

.news-content .news-button a{
    color: white;
    text-shadow: black 1px 1px 2px;
    flex-grow: 1;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
}

@media screen and (min-width:800px) {
    .news-search input{
        flex-grow: 0;
        width: 300px;
        margin-left: 8px;
    }
    .news-list{
        margin-right: 20%;
        margin-left: 20%;
    }
    .news-content img{
        max-width: 80%;
    }
}