.news-search {
    display: flex;
    justify-content: center;
    font-size: 1.36em;
    background-color: gray;
    padding: 12px 0px;
    box-shadow: gray 1px 1px 2px;
}

.news-search button{
    color: white;
    margin-right: 6px;
    margin-left: 10px;
    border: solid 2px #585556;
    border-radius: 15px;
    outline: none;
    background-color: gray;
    font-size: 20px;
    padding: 8px;
    margin-right: 10px;
    transition: 0.7s;
}
.news-search button:hover{
    text-shadow: black 1px 1px 2px;
    background-color:#585556;
    box-shadow: gray 2px 2px 4px;
    transition: 0.7s;
}


.news-search input {
    border-radius: 15px;
    padding: 6px;
    outline: none;
    flex-grow: 1;
    border: solid 2px #585556;
    color: #585556;
    margin-right: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.news-item {
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 50px;
    padding: 4px;
}

.news-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-content h3 {
    text-align: center;
    margin-bottom: 4px;
    font-size: 1.2rem;
}

.news-content p {
    text-align: justify;
    font-size: 1.125rem;
}

.news-content img {
    max-width: 100%;
}

@media screen and (min-width:800px) {
    .news-search input{
        flex-grow: 0;
        width: 300px;
        margin-left: 8px;
    }
    .news-list{
        margin-right: 20%;
        margin-left: 20%;
    }
}