.news-source{
    padding: 16px;
}
.news-source h2{
    color: #575355;
}
.news-source p a{
    color:black;
    text-decoration: none;
}

.news-source p a:hover{
    color: #575355;
    text-decoration: underline;
}